<app-top-menu [userInSession]="userInSession"></app-top-menu>
<div class="container-table">
  <div style="width: 100%;">
    <mat-form-field style="margin-left: 10%;">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8 table">
      <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
    
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="web">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "form.platform" | translate }} </th>
          <td mat-cell *matCellDef="let row"> {{row.web}} </td>
        </ng-container>
    
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "form.user" | translate }} </th>
          <td mat-cell *matCellDef="let row"> {{row.user}} </td>
        </ng-container>
    
        <ng-container matColumnDef="passwd">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "form.password" | translate }} </th>
          <td mat-cell *matCellDef="let row"> {{row.passwd}} </td>
        </ng-container>
    
        <ng-container matColumnDef="meta">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "form.description" | translate }} </th>
          <td mat-cell *matCellDef="let row"> {{row.meta}} </td>
        </ng-container>
    
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "form.date" | translate }} </th>
          <td mat-cell *matCellDef="let row"> {{row.date}} </td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "form.actions" | translate }} </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="warn">
              <mat-icon >delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">{{ "secret.no-data" | translate }} "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
    </div>
    <button mat-fab color="primary" [disabled]="buttonDisabled" class="buttonAdd" (click)="openModal()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
<app-loading-screen *ngIf="loading"></app-loading-screen>