<form class="example-form" [formGroup]="secretForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="input-full-width">
    <mat-label>{{ 'form.url' | translate }}</mat-label>
    <input matInput formControlName="web" required />
    <mat-error *ngIf="!f.web.errors?.required && f.web.errors?.minlength">
      {{ 'form.error.url.invalid' | translate }}
    </mat-error>
    <mat-error *ngIf="f.web.errors?.required">
      {{ 'form.error.url.required' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <mat-label>{{ 'form.user' | translate }}</mat-label>
    <input matInput formControlName="user" />
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <mat-label>{{ 'form.password' | translate }}</mat-label>
    <input matInput formControlName="passwd" required />
    <mat-error *ngIf="!f.passwd.errors?.required && f.passwd.errors?.minlength">
      {{ 'form.error.password.invalid' | translate }}
    </mat-error>
    <mat-error *ngIf="f.passwd.errors?.required">
      {{ 'form.error.password.required' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <mat-label>{{ 'form.description' | translate }}</mat-label>
    <input matInput formControlName="meta" />
  </mat-form-field>

  <div class="buttons">
    <button mat-raised-button [disabled]="loading" class="button btnPrimary" style="margin-bottom: 15px;">
      <span *ngIf="!loading">{{ 'buttons.create' | translate }}</span>
      <mat-spinner *ngIf="loading" [diameter]="30" style="margin: 7px auto;"></mat-spinner>
    </button>
    <button type="button" mat-raised-button (click)="close(null)" class="button btnSecondary">
      {{ 'buttons.cancel' | translate }}
    </button>
  </div>
</form>
<app-loading-screen *ngIf="loading"></app-loading-screen>